body {
    margin-top: 50px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dropdown-menu {
  border: 2px solid black;
  color: black;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 200px;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transform: perspective(1000px);
   -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-list {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
}

.dropdown-list li:first-child {
  cursor: default;
}

.dropdown-list a {
  color: #000;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.dropdown-list a:hover {
  background: black;
  color: #fff;
}

#dropdown-menu:hover .dropdown-list {
  border: 1px solid black;
  color: white;
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  -webkit-transition: all .5s, background, 2s .5s linear;
  transition: all .5s, background 2s .5s linear;
}


.container_1 {
    border: 1px solid black;
    padding: 20px;
    width: 900px;
    background-color: white;
}

.container_2 {
    border: 1px solid black;
    padding: 20px;
    width: 900px;
    background-color: white;
}

.container_3 {
    border: 1px solid black;
    padding: 20px;
    width: 900px;
    background-color: white;
}

.mini-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: flex-end;
}

h1 {
    background-color: lightpink;
    color: black;
    width: 300px;
    text-align: center;
    font-size: 75px;
}